@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.input-text {
  @apply block w-full border-0 px-1 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm bg-slate-100 rounded mt-1 focus:outline-none;
}

.input-text--label {
  @apply block text-base font-medium text-gray-900;
}

.input-text--label.disabled {
  @apply text-gray-500;
}

.card {
  @apply max-w-lg;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}